// Calculates a = x*y
// a is a local variable
// x & y are static variables
// Put your code here.

push static 1
pop temp 2

push static 1
push constant 0
lt 
if-goto NEGATIVE

label NEGATIVE_END

push constant 0
pop local 0 // a = 0

push constant 0 
pop temp 0  // count i=0

label LOOP
push temp 0
push temp 2
eq // i==y
if-goto CHECK

push local 0
push static 0
add // a+x
pop local 0 // a=a+x

push constant 1
push temp 0
add // i++
pop temp 0 // i=i+1

goto LOOP

label CHECK
push static 1
push constant 0
lt 
if-goto NEGATIVE2

label END
goto END

label NEGATIVE2
push local 0
neg
pop local 0
goto END

label NEGATIVE
push static 1
neg
pop temp 2
goto NEGATIVE_END